li {
	display: inline-block;
    vertical-align: middle;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
    font-size: 22px;
    margin: 20px;
}


nav {
	display: inline-block;
    vertical-align: middle;
}


.photo{
  
	  display: inline-block;
      vertical-align: top;
      margin: 10px;
} 

.logo{
	display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}

.active{
	color: red;
    margin: 10px;
}


.contact{
	color: blue;
    margin: 10px;
}
.news{
	color: blue;
    margin: 10px;
}

.text{
	display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

.divdiv{
	width: 900px;
    display: inline-block;
    vertical-align: top;
}

.minibox{
	width: 56;
    height: 56;
    background-color:royalblue ;
    text-align: center;
    font-size: 43px;
    color: white;
    margin: 20px;
}

.may{
	margin: 20px;
}


h1{
   
	 color: black;
     margin: 20px;
     font-size: 20px;
     font-family: "BPG Nino Mtavruli", sans-serif;
}

a{
	text-decoration: none;

}

.fb{
	margin: 10px;
}

.yt{
	margin: 10px;
}
.the{
   width: 1766px;
  padding: 170px;
  background-color: #F2F2F2;
 display: inline-block;
 vertical-align: middle; 
  margin: 70px;
}


.type{
	width: px;
    display: inline-block;
    vertical-align: top;
}

.map{
	width: 845px;
    height: 464px;
    display: inline-block;
    vertical-align: top;
    
}
.p{
    letter-spacing: 2px;
    font-family: "BPG Ingiri Arial", sans-serif;
    font-size: 16px;
}


.saba{
	margin-right: 25px;
}


.saba{
  width: 570px;
  height: 226px;
  border: 5px solid white;
  margin: 0;
  background-color: #F2F2F2;
 display: inline-block;
 vertical-align: middle; 
  margin: 70px;
}

.sabaa{
   width: 570px;
  height: 225px;
  background-color: #F2F2F2;
 display: inline-block;
 vertical-align: middle; 
  margin: 70px;
}

.p2{
	width: 335px;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}

.click{
	width: 100px;
	height: 120px;
    display: inline-block;
    vertical-align: top;
 	margin: 0 60px 0 40px;
}

.phone{
	width: 100px;
	height: 120px;
	display: inline-block;
	vertical-align: top;
    margin: 0 60px 0 40px;
}

h4{
	margin: 20px;
	color: royalblue;
}

h3{
	margin-top: 80px;
    margin-bottom: -30px;
    margin-left: 70px;
}

.photo{
	margin-left: 70px;
} 

.map2{
	width: 874px;
	height: 466px;
	display: inline-block;
	vertical-align: top;
    margin-left: 600px;
    margin-top: -420px;
    margin-bottom: 70px;
}

h2{
	width: 250px;
	height: 92px;
	
}

.miki{
	font-size: 25px;
	color: blue;
}